.c1{color:#ffffff;}
.c2{color:#55555d;}
.c3{color:#FF7200;}
.c4{color:#F00;}
.c5{color:#528cd1;}
.c6{color:#9a9a9a;}
.c7{color:#38a3f5;}
.c9{color:#e5e5e5;}
.c11{color:#b1b1b1;}
.c12{color:#9d9da1;}
.c13{color:#5386c7;}
.c14{color:#868686;}
.c16{color:#8cb2e3;}
.c17{color:#2b2b2b;}
.c18{color:#010101;}
.c19{color:#323232;}
.c20{color:#909090;}
.c21{color:#669ddd;}
.c22{color:#e61616;}
.c23{color:#669edb;}
.c25{color:#666666;}
.c26{color:#ff9402;}
.c27{color:#AAAAAA;}
.c28{color: #7a7a7a;}
.c29{color: #646464;}
.c30{color: rgba(56, 163, 245, 0.8);}


.bc1{background-color:#FF7300;}
.bc2{background-color:#FFF;}
.bc3{background-color:#fda14e;}
.bc4{background-color:#ff0000;}
.bc5{background-color:#f9f9f9;}
.bc6{background-color:#cccccc;}
.bc7{background-color:#ffaa00;}
.bc8{background-color:#d20000;}
.bc9{background-color: #faf9f7;}
.bc10{background-color: #e5e5e5;}
.bc11{background-color: #838383;}
.bc12{background-color:#38A3F5;}
/*.bc13{background-color: #009cff;}*/
