<!DOCTYPE html>
<html ng-app="myApp">

	<head>
		<title>上门购药</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../css/ui-box.css">
		<link rel="stylesheet" href="../css/ui-base.css">
		<link rel="stylesheet" href="../css/ui-img.css">
		<link rel="stylesheet" href="../css/ui-color.css">
		<link rel="stylesheet" href="../css/win.css">
		<style>
			#content {
				margin-bottom: 60px;
				padding-top: 3em;
			}
			
			#header {
				width: 100%;
				position: fixed;
				top: 0px;
				left: 0px;
				z-index: 99;
			}
		</style>
	</head>

	<body class="um-vp c-wh" ng-controller="getList">
		<div id="page_0" class="up ub ub-ver">
			<!-- 页头 -->
			<header id="header" class="header">
				<div class="title">
					<div class="title-left" goback id="back"></div>
					<div class="title-mid">查看药店</div>
					<div class="title-right">
					</div>
				</div>
			</header>
			<!--个人中心其他内容-->
			<div id="content">
				<div class="bc2 ubt" ng-repeat="i in list" ng-cloak>
					<div class="ub bc2 pl5 pr5 h50" ng-click="toShop(i.PharmacyCode)" ng-cloak>
						<div class="ub ub-ac">
							<img ng-src="{{i.PharmacyLogo}}" width="70" height="70" />
						</div>
						<div class="ml10 mt5">
							<div class="fs10">{{i.PharmacyName}}</div>
							<div class="fs8 mt2">地址：{{i.ADDRESS_AREA}}{{i.ADDRESS_INFO}}</div>
							<div class="fs8 mt2">电话：{{i.ADDRESS_TEL}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.js"></script>
		<script src="../js/constant.js"></script>
		<script src="../js/angular.min.js"></script>
		<script src="../js/des.js"></script>
		<script type="text/javascript" src="https://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500337502" cid="500337508"></script>
	</body>

</html>
<script>
	getshoplist();
	$(function() {
		$("#back").click(function() {
			window.location.href = "easybuydrug.html";
		})
	});

	function getshoplist() {
		Loading();
		var param = '[{"pharmacyName":"","prescs":"1","yyyCode":"100020"}]';
		param = strEnc(param, '100001', '', '');
		var app = angular.module('myApp', []);
		app.controller('getList', function($http, $scope) {
			$http({
					method: 'GET',
					url: GLOBAL_URL,
					params: {
						'json': param
					}
				})
				.success(function(data) {
					if (data.success == 1) {
						$scope.list = data.data;
						$scope.toShop = function(id) {
							localStorage.setItem("DRUGSUPPLIERCODE", id);
							localStorage.setItem("shopBackPage", "easyshoplist.html"); //从药店列表到药店首页
							window.location.href = "shop.html";
						}
					} else {
						alert(data.message);
					}
					noLoading();
				})
				.error(function() {
					noLoading();
					alert("网络连接错误！");
				});
		});
	}
</script>